openapi: "3.1.0"
info:
  title: ScopeCall Query API
  version: "1.0.0"
  description: |
    Read-only observability query API for the ScopeCall dashboard.
    All endpoints require authentication via a Supabase-issued JWT or an API key.
    Timestamps must be absolute ISO8601 (RFC3339); relative values like "now-24h" are rejected with 400.

servers:
  - url: https://api.scopecall.ai
    description: Production
  - url: http://localhost:3004
    description: Local dev

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        Supabase-issued JWT (eyJ...) or API key (sc_live_... / sc_test_...).
        Dispatched by prefix. Single Authorization: Bearer header.

  parameters:
    OrgId:
      name: org_id
      in: query
      required: true
      schema:
        type: string
      description: Organization ID. Must match the org_id in the authenticated token.
    From:
      name: from
      in: query
      required: true
      schema:
        type: string
        format: date-time
      description: >
        Absolute ISO8601 timestamp (e.g. 2026-05-01T00:00:00Z).
        Relative values (now-24h) are rejected with 400.
    To:
      name: to
      in: query
      required: true
      schema:
        type: string
        format: date-time
      description: >
        Absolute ISO8601 timestamp (e.g. 2026-05-22T00:00:00Z).
        Must be after 'from'.
    Granularity:
      name: granularity
      in: query
      required: false
      schema:
        type: string
        enum: [hour, day]
        default: hour
    GroupBy:
      name: group_by
      in: query
      required: false
      schema:
        type: string
        enum: [model, provider, feature, user, environment]
        default: model
      description: >
        Dimension to aggregate cost and calls by. model/provider/feature read the
        pre-aggregated hourly rollup; user/environment scan raw calls over the window.

  schemas:
    Problem:
      type: object
      required: [type, title, status, detail]
      properties:
        type:
          type: string
          example: "about:blank"
        title:
          type: string
          example: "Bad Request"
        status:
          type: integer
          example: 400
        detail:
          type: string
          example: "parameter 'from' must be an absolute ISO8601 timestamp"

    OverviewResponse:
      type: object
      required: [total_calls, total_cost_usd, error_cost_usd, avg_latency_ms, p99_latency_ms, error_rate_pct, unique_traces]
      properties:
        total_calls:
          type: integer
        total_cost_usd:
          type: number
          format: double
        error_cost_usd:
          type: number
          format: double
          description: |
            Subset of total_cost_usd attributable to calls with status != 'success'.
            Typically zero (most error paths in the SDKs auto-emit input_tokens=0).
            Non-zero values usually indicate mid-stream provider failures where
            the provider already processed the prompt before the connection died.
        avg_latency_ms:
          type: number
          format: double
        p99_latency_ms:
          type: number
          format: double
        error_rate_pct:
          type: number
          format: double
          description: 0–100
        unique_traces:
          type: integer

    Trace:
      type: object
      required:
        - org_id
        - trace_id
        - span_id
        - timestamp
        - model
        - provider
        - input_tokens
        - output_tokens
        - cost_usd
        - latency_ms
        - status
        - environment
      properties:
        org_id:
          type: string
        trace_id:
          type: string
        span_id:
          type: string
        parent_span_id:
          type: string
          nullable: true
        timestamp:
          type: string
          format: date-time
        model:
          type: string
        provider:
          type: string
        input_tokens:
          type: integer
        output_tokens:
          type: integer
        cost_usd:
          type: number
          format: double
        input_cost_usd:
          type: number
          format: double
          description: >
            Cost attributed to input tokens (computed at ingest from per-model
            pricing). Optional — only populated on endpoints whose backend has
            been updated; legacy responses may omit it.
        output_cost_usd:
          type: number
          format: double
          description: Cost attributed to output tokens. See input_cost_usd.
        latency_ms:
          type: integer
        ttft_ms:
          type: integer
          nullable: true
        status:
          type: string
          enum: [success, error, timeout, rate_limited]
        error_message:
          type: string
          nullable: true
        input_text:
          type: string
          description: Empty string for viewer role
          nullable: true
        output_text:
          type: string
          description: Empty string for viewer role
          nullable: true
        feature_name:
          type: string
          nullable: true
        user_id:
          type: string
          nullable: true
        session_id:
          type: string
          nullable: true
        customer_id:
          type: string
          nullable: true
          description: >
            B2B customer / tenant identifier (distinct from user_id, which
            is the end-user). Powers per-customer cost attribution. (v0.3)
        environment:
          type: string
        sdk_version:
          type: string
          nullable: true
        extra:
          type: string
          nullable: true
        prompt_version:
          type: string
          nullable: true
          description: >
            Operator-supplied prompt iteration label. Set via
            sdk.trace(name, fn, { promptVersion }) or via
            ScopeCallConfig.defaultPromptVersion. Powers the Prompts page.
        kind:
          type: string
          enum: [llm, workflow, agent, step]
          description: >
            Span kind. `llm` = an instrumented provider call; the other three
            are container spans (no model/tokens/cost of their own) that
            aggregate cost from their LLM descendants. workflow → agent → step
            is the conventional hierarchy but nesting is not enforced. (v0.3)
        attempt_number:
          type: integer
          minimum: 1
          description: >
            1-based caller-attempt index. Increments only when the application
            retries (not provider-SDK-internal retries). Default 1. (v0.3)
        retry_reason:
          type: string
          nullable: true
          enum:
            - rate_limit
            - timeout
            - server_error
            - transient_network
            - agent_decision
            - manual
            - unknown
          description: >
            Reason for this retry; null on attempt 1. (v0.3)
        is_test:
          type: boolean
          description: >
            True for non-production traffic (eval, CI, smoke tests, replays,
            backfills). The dashboard's "Production only" toggle filters by
            this. (v0.3)
        cache_read_cost_usd:
          type: number
          format: double
          description: >
            Cost of the cached input-token portion. Server-derived from the
            pricing table; 0 when the model has no cache_read rate or no
            cached tokens were read. (v0.3)
        cost_source:
          type: string
          enum: [server_computed, sdk_fallback, unknown_model, container]
          description: >
            Trust signal for cost_usd. server_computed = priced from the
            pricing table; sdk_fallback = SDK-supplied because the model
            was unknown; unknown_model = no cost data available;
            container = synthetic span (workflow / agent / step) that
            has no model of its own. (v0.3)
        pricing_version:
          type: string
          nullable: true
          description: >
            Pricing-table version that produced cost_usd
            (YYYY-MM-DD verification date). (v0.3)

    TraceListResponse:
      type: object
      required: [traces]
      properties:
        traces:
          type: array
          items:
            $ref: "#/components/schemas/Trace"
        next_cursor:
          type: string
          nullable: true
          description: Opaque cursor for the next page. Absent (or null) on the last page.

    TraceTreeResponse:
      type: object
      required: [spans]
      description: >
        Every span belonging to a single trace_id, chronological. The shape of
        each span mirrors the Trace schema. The frontend builds the tree
        hierarchy locally from parent_span_id.
      properties:
        spans:
          type: array
          items:
            $ref: "#/components/schemas/Trace"

    MetricPoint:
      type: object
      required: [timestamp]
      properties:
        timestamp:
          type: string
          format: date-time
        model:
          type: string
          nullable: true
        call_count:
          type: integer
          nullable: true
        total_cost_usd:
          type: number
          format: double
          nullable: true
        avg_latency_ms:
          type: number
          format: double
          nullable: true
        p99_latency_ms:
          type: number
          format: double
          nullable: true
        error_count:
          type: integer
          nullable: true

    MetricsResponse:
      type: object
      required: [points]
      properties:
        points:
          type: array
          items:
            $ref: "#/components/schemas/MetricPoint"

    BreakdownRow:
      type: object
      required: [key, calls, total_cost_usd, avg_cost_per_call, error_count, pct_of_total]
      properties:
        key:
          type: string
          description: >
            The dimension value (e.g. "gpt-4o"). Empty string denotes unattributed
            calls — rendered as "(none)" in the UI.
        key2:
          type: string
          description: Secondary-dimension value. Populated only when secondary_group_by is set.
        calls:
          type: integer
        total_cost_usd:
          type: number
          format: double
        avg_cost_per_call:
          type: number
          format: double
        error_count:
          type: integer
        pct_of_total:
          type: number
          format: double
          description: This group's share of total cost across all groups in the window (0–100).

    BreakdownResponse:
      type: object
      required: [group_by, rows, total_cost_usd, total_calls]
      properties:
        group_by:
          type: string
        secondary_group_by:
          type: string
          description: Echoed when cross-dim mode was requested.
        rows:
          type: array
          items:
            $ref: "#/components/schemas/BreakdownRow"
        total_cost_usd:
          type: number
          format: double
          description: Total cost across all groups in the window (not just the returned rows).
        total_calls:
          type: integer

    TopMoverRow:
      type: object
      required: [key, current_cost_usd, prior_cost_usd, delta_cost_usd, pct_change, current_calls, prior_calls, current_p99_ms, prior_p99_ms, delta_p99_ms]
      properties:
        key:
          type: string
        current_cost_usd:
          type: number
          format: double
        prior_cost_usd:
          type: number
          format: double
        delta_cost_usd:
          type: number
          format: double
        pct_change:
          type: number
          format: double
          description: >
            Percent change vs prior period (0–N). Sentinel value `-1` means no prior
            baseline (new dimension value this window) — retained for backward
            compatibility. New clients should check `is_new` instead.
        is_new:
          type: boolean
          description: >
            True when this dimension value has no prior-period baseline (first
            time seen in this window). Distinct from a real -1% delta.
        current_calls:
          type: integer
        prior_calls:
          type: integer
        current_p99_ms:
          type: number
          format: double
        prior_p99_ms:
          type: number
          format: double
        delta_p99_ms:
          type: number
          format: double

    TopMoversResponse:
      type: object
      required: [group_by, window_seconds, rows]
      properties:
        group_by:
          type: string
        window_seconds:
          type: integer
        rows:
          type: array
          items:
            $ref: "#/components/schemas/TopMoverRow"

    WorkflowCostNode:
      type: object
      required:
        [name, current_cost_usd, prior_cost_usd, delta_cost_usd, pct_change,
         is_new, current_calls, error_count, customer_count, is_test_share]
      properties:
        name:
          type: string
          description: >
            Workflow feature_name. Empty string when LLM calls were emitted
            without an enclosing sdk.workflow() block — the dashboard renders
            this bucket as "Unattributed".
        current_cost_usd:
          type: number
          format: double
        prior_cost_usd:
          type: number
          format: double
        delta_cost_usd:
          type: number
          format: double
        pct_change:
          type: number
          format: double
          description: >
            Same -1 sentinel convention as TopMoverRow: -1 = no prior baseline
            (use is_new instead).
        is_new:
          type: boolean
        current_calls:
          type: integer
        error_count:
          type: integer
        customer_count:
          type: integer
          description: Distinct non-empty customer_id values in the current window.
        is_test_share:
          type: number
          format: double
          description: Fraction of current-window LLM rows with is_test=true (0..1).

    WorkflowCostTreeResponse:
      type: object
      required: [window_seconds, total_cost_usd, visible_cost_usd, workflows]
      properties:
        window_seconds:
          type: integer
        total_cost_usd:
          type: number
          format: double
          description: >
            Grand total across ALL workflows in the org's window (not just
            the top-N returned in `workflows`). Computed via a window
            function in the same scan, so it reflects every workflow that
            passed the HAVING filter.
        visible_cost_usd:
          type: number
          format: double
          description: >
            Sum across only the workflows actually returned in `workflows`.
            When the response was LIMIT-capped, this is a proper subset of
            `total_cost_usd`; otherwise they are equal.
        workflows:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowCostNode"

    WorkflowBreakdownRow:
      type: object
      required: [key, cost_usd, calls, error_count]
      properties:
        key:
          type: string
        cost_usd:
          type: number
          format: double
        calls:
          type: integer
        error_count:
          type: integer

    WorkflowSummary:
      type: object
      required:
        [total_cost_usd, prior_cost_usd, delta_cost_usd, pct_change, is_new,
         total_calls, error_count, customer_count, retry_cost_usd,
         test_cost_usd, cache_read_savings_usd]
      properties:
        total_cost_usd:           { type: number, format: double }
        prior_cost_usd:           { type: number, format: double }
        delta_cost_usd:           { type: number, format: double }
        pct_change:               { type: number, format: double }
        is_new:                   { type: boolean }
        total_calls:              { type: integer }
        error_count:              { type: integer }
        customer_count:           { type: integer }
        retry_cost_usd:
          type: number
          format: double
          description: Cost on calls where attempt_number > 1.
        test_cost_usd:
          type: number
          format: double
          description: Cost on calls where is_test=true.
        cache_read_savings_usd:
          type: number
          format: double
          description: Sum of cache_read_cost_usd — cost avoided via provider cache.

    WorkflowDetailResponse:
      type: object
      required:
        [workflow, window_seconds, summary, by_agent, by_step, by_customer,
         by_model, cost_source_mix]
      properties:
        workflow:                 { type: string }
        window_seconds:           { type: integer }
        summary:                  { $ref: "#/components/schemas/WorkflowSummary" }
        by_agent:
          type: array
          items: { $ref: "#/components/schemas/WorkflowBreakdownRow" }
        by_step:
          type: array
          items: { $ref: "#/components/schemas/WorkflowBreakdownRow" }
        by_customer:
          type: array
          items: { $ref: "#/components/schemas/WorkflowBreakdownRow" }
        by_model:
          type: array
          items: { $ref: "#/components/schemas/WorkflowBreakdownRow" }
        cost_source_mix:
          type: array
          items: { $ref: "#/components/schemas/WorkflowBreakdownRow" }

    CustomerProfitabilityRow:
      type: object
      required:
        [customer_id, current_cost_usd, prior_cost_usd, delta_cost_usd,
         pct_change, is_new, current_calls, error_count, workflow_count,
         model_count, retry_cost_usd, test_cost_usd, cache_read_savings_usd,
         pct_of_attributed]
      properties:
        customer_id:              { type: string }
        current_cost_usd:         { type: number, format: double }
        prior_cost_usd:           { type: number, format: double }
        delta_cost_usd:           { type: number, format: double }
        pct_change:               { type: number, format: double }
        is_new:                   { type: boolean }
        current_calls:            { type: integer }
        error_count:              { type: integer }
        workflow_count:           { type: integer }
        model_count:              { type: integer }
        retry_cost_usd:           { type: number, format: double }
        test_cost_usd:            { type: number, format: double }
        cache_read_savings_usd:   { type: number, format: double }
        pct_of_attributed:
          type: number
          format: double
          description: Share of attributed cost (rows sum to 100%, excluding Unattributed).

    CustomerProfitabilityResponse:
      type: object
      required:
        [window_seconds, grand_total_cost_usd, attributed_cost_usd,
         unattributed_cost_usd, attributed_customer_count, rows]
      properties:
        window_seconds:                 { type: integer }
        grand_total_cost_usd:           { type: number, format: double }
        attributed_cost_usd:            { type: number, format: double }
        unattributed_cost_usd:
          type: number
          format: double
          description: Spend with no customer_id (the "Unattributed" tile).
        attributed_customer_count:      { type: integer }
        rows:
          type: array
          items: { $ref: "#/components/schemas/CustomerProfitabilityRow" }

    WasteItem:
      type: object
      required:
        [kind, severity, headline, detail, recommendation,
         potential_savings_usd]
      properties:
        kind:
          type: string
          enum: [retry_burner, model_misuse, high_error_workflow]
        severity:
          type: string
          enum: [high, medium, low]
        headline:                 { type: string }
        detail:                   { type: string }
        recommendation:           { type: string }
        potential_savings_usd:    { type: number, format: double }
        workflow:                 { type: string }
        model:                    { type: string }
        step:                     { type: string }

    WasteInboxResponse:
      type: object
      required: [window_seconds, total_savings_usd, items]
      properties:
        window_seconds:           { type: integer }
        total_savings_usd:
          type: number
          format: double
          description: >
            Upper-bound estimate. A single workflow that triggers multiple
            rules (e.g. retries on errored calls) is counted under each
            rule, so the headline can exceed the workflow's actual spend.
        items:
          type: array
          items: { $ref: "#/components/schemas/WasteItem" }

    CostSourceShare:
      type: object
      required: [source, calls, cost_usd, pct_of_cost]
      properties:
        source:
          type: string
          description: >
            Closed enum at the processor: server_computed | sdk_fallback |
            unknown_model | container. The schema keeps it open-typed for
            forward compatibility.
        calls:                    { type: integer }
        cost_usd:                 { type: number, format: double }
        pct_of_cost:              { type: number, format: double }

    UnknownModel:
      type: object
      required: [model, provider, calls, cost_usd]
      properties:
        model:                    { type: string }
        provider:                 { type: string }
        calls:                    { type: integer }
        cost_usd:                 { type: number, format: double }

    CostConfidenceResponse:
      type: object
      required:
        [window_seconds, total_cost_usd, server_computed_cost_usd,
         verified_pct, sources, unknown_models]
      properties:
        window_seconds:                  { type: integer }
        total_cost_usd:                  { type: number, format: double }
        server_computed_cost_usd:        { type: number, format: double }
        verified_pct:
          type: number
          format: double
          description: server_computed / total × 100. Defaults to 100 when total=0.
        sources:
          type: array
          items: { $ref: "#/components/schemas/CostSourceShare" }
        unknown_models:
          type: array
          items: { $ref: "#/components/schemas/UnknownModel" }


    ErrorBucket:
      type: object
      required: [timestamp, error, timeout, rate_limited]
      properties:
        timestamp:
          type: string
          format: date-time
        error:
          type: integer
        timeout:
          type: integer
        rate_limited:
          type: integer

    ErrorsByStatusResponse:
      type: object
      required: [points]
      properties:
        points:
          type: array
          items:
            $ref: "#/components/schemas/ErrorBucket"

    Session:
      type: object
      required: [session_id, call_count, total_cost_usd, error_count, first_at, last_at, duration_ms]
      properties:
        session_id:
          type: string
        user_id:
          type: string
          description: Any non-null user_id seen in the session; empty if all calls were unattributed.
        call_count:
          type: integer
        total_cost_usd:
          type: number
          format: double
        error_count:
          type: integer
        first_at:
          type: string
          format: date-time
        last_at:
          type: string
          format: date-time
        duration_ms:
          type: integer
          description: last_at − first_at in milliseconds.

    SessionsResponse:
      type: object
      required: [sessions]
      properties:
        sessions:
          type: array
          items:
            $ref: "#/components/schemas/Session"

    # PromptRow / PromptsResponse — surface for the Prompts page. One row per
    # distinct prompt_version (or one untagged-bucket row keyed on ""). Defined
    # here for TS client type safety; the Go handler hand-encodes JSON to
    # match (services-go/api/internal/handler/prompts.go). Keep field names
    # in lockstep.
    PromptRow:
      type: object
      required:
        - version
        - calls
        - total_cost_usd
        - avg_cost_per_call
        - p50_latency_ms
        - p95_latency_ms
        - avg_input_tokens
        - avg_output_tokens
        - error_count
        - error_rate
        - first_seen
        - last_seen
      properties:
        version:
          type: string
          description: Prompt version label. Empty string = untagged bucket.
        calls:
          type: integer
          minimum: 0
        total_cost_usd:
          type: number
        avg_cost_per_call:
          type: number
        p50_latency_ms:
          type: number
        p95_latency_ms:
          type: number
        avg_input_tokens:
          type: number
        avg_output_tokens:
          type: number
        error_count:
          type: integer
          minimum: 0
        error_rate:
          type: number
          minimum: 0
          maximum: 1
        first_seen:
          type: string
          format: date-time
        last_seen:
          type: string
          format: date-time

    PromptsResponse:
      type: object
      required: [rows]
      properties:
        rows:
          type: array
          items:
            $ref: "#/components/schemas/PromptRow"

    AlertListResponse:
      type: object
      required: [alerts, message]
      properties:
        alerts:
          type: array
          items: {}
        message:
          type: string

  responses:
    Problem400:
      description: Bad request
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Problem401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Problem403:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Problem404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

paths:
  /api/v1/overview:
    get:
      operationId: GetOverview
      summary: Aggregate statistics for the time window
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: Overview statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OverviewResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"

  /api/v1/traces:
    get:
      operationId: ListTraces
      summary: Paginated trace list
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Opaque cursor from previous response's next_cursor field
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
        - name: model
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [success, error, timeout, rate_limited]
        - name: feature_name
          in: query
          required: false
          schema:
            type: string
        - name: provider
          in: query
          required: false
          schema:
            type: string
        - name: user_id
          in: query
          required: false
          schema:
            type: string
        - name: environment
          in: query
          required: false
          schema:
            type: string
        - name: prompt_version
          in: query
          required: false
          schema:
            type: string
          description: >
            Filter to one prompt version (set via sdk.trace(..., {promptVersion})
            or ScopeCallConfig.defaultPromptVersion). Pass __null__ to show
            untagged calls only — matches the Prompts page's "(untagged)" row.
        - name: customer_id
          in: query
          required: false
          schema:
            type: string
          description: >
            v0.3 — B2B tenant filter. Drilled into from /dashboard/customers and
            the workflow-detail by-customer panel. Pass __null__ to show calls
            with no customer_id (the "Unattributed" tile on the Customers page).
        - name: workflow
          in: query
          required: false
          schema:
            type: string
          description: >
            v0.3 — scope to all calls inside the named workflow. Resolves to
            a trace_id IN-subquery against kind='workflow' rows whose
            feature_name equals this value. Use this instead of feature_name
            when drilling in from the Workflow Treemap, Waste Inbox, or
            workflow detail page — feature_name on LLM rows is the
            step/call name and would silently miss the calls you want.
        - name: agent
          in: query
          required: false
          schema:
            type: string
          description: >
            v0.3 — scope to all calls inside the named agent (kind='agent'
            spans). Pair with `workflow` for "calls inside this agent of
            this workflow". Same trace_id IN-subquery pattern as `workflow`.
        - name: step
          in: query
          required: false
          schema:
            type: string
          description: >
            v0.3 — scope to all calls inside the named step (kind='step'
            spans). Same trace_id IN-subquery pattern as `workflow`.
        - name: q
          in: query
          required: false
          schema:
            type: string
          description: >
            Free-text search. Exact-match on span_id / trace_id / session_id / user_id;
            case-insensitive substring on input_text / output_text / error_message
            (text-column matching skipped for viewer role).
      responses:
        "200":
          description: Trace list with optional next_cursor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TraceListResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"

  /api/v1/traces/{span_id}:
    get:
      operationId: GetTrace
      summary: Single trace by span_id
      parameters:
        - name: span_id
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/OrgId"
      responses:
        "200":
          description: Trace detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trace"
        "401":
          $ref: "#/components/responses/Problem401"
        "404":
          $ref: "#/components/responses/Problem404"

  /api/v1/metrics/cost:
    get:
      operationId: GetCostMetrics
      summary: Cost metrics time series
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/Granularity"
      responses:
        "200":
          description: Cost metric points
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"

  /api/v1/metrics/latency:
    get:
      operationId: GetLatencyMetrics
      summary: Latency metrics time series (avg + P99)
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/Granularity"
      responses:
        "200":
          description: Latency metric points
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"

  /api/v1/metrics/errors:
    get:
      operationId: GetErrorMetrics
      summary: Error count time series
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/Granularity"
      responses:
        "200":
          description: Error metric points
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"

  /api/v1/traces/tree/{trace_id}:
    get:
      operationId: GetTraceTree
      summary: All spans for a given trace_id (for the tree view)
      parameters:
        - name: trace_id
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/OrgId"
        - name: from
          in: query
          required: false
          description: >
            Optional time window hint. When provided alongside `to`, narrows the
            ClickHouse partition scan to that window. Skipping this triggers a
            cheap min/max probe to bound the scan automatically. Pass the date
            range the user was on when they navigated to this trace.
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: All spans for the trace, ordered by timestamp ascending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TraceTreeResponse"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"
        "404":
          $ref: "#/components/responses/Problem404"

  /api/v1/breakdown:
    get:
      operationId: GetBreakdown
      summary: Cost and call breakdown grouped by a dimension
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/GroupBy"
        - name: secondary_group_by
          in: query
          required: false
          schema:
            type: string
            enum: [model, provider, feature, user, environment]
          description: >
            When set, cross-dimensional mode — returns one row per
            (group_by × secondary_group_by) combination. Always reads raw
            llm_calls (rollup lacks user/env columns).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Max groups to return (sorted by cost descending).
      responses:
        "200":
          description: Breakdown rows sorted by cost descending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BreakdownResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"

  /api/v1/metrics/top-movers:
    get:
      operationId: GetTopMovers
      summary: Period-over-period change per dimension value
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/GroupBy"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        "200":
          description: Dimension values ordered by absolute cost delta descending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopMoversResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"

  /api/v1/metrics/errors-by-status:
    get:
      operationId: GetErrorsByStatus
      summary: Bucketed failure counts broken by status (error / timeout / rate_limited)
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/Granularity"
      responses:
        "200":
          description: Per-hour failure breakdown
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorsByStatusResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"

  /api/v1/workflow-cost-tree:
    get:
      operationId: GetWorkflowCostTree
      summary: Workflow-level cost rollup with prior-period delta (Overview treemap)
      description: >
        Aggregates kind='llm' cost by the feature_name of the kind='workflow'
        row that roots each trace. Includes the same-sized prior window so the
        frontend can color tiles by delta. Traces with no workflow span land
        in the "" bucket (rendered as Unattributed).
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Workflows ordered by current-window cost descending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowCostTreeResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"

  /api/v1/workflow-detail:
    get:
      operationId: GetWorkflowDetail
      summary: One-shot rollup for the workflow detail page
      description: >
        Returns the workflow's summary (cost / calls / errors / customers /
        retry-cost / test-cost / cache savings) plus five breakdowns
        (by agent, by step, by customer, by model, by cost_source).
        Agent attribution handles both `workflow → agent → step → llm` and
        the direct `workflow → agent → llm` shape via two LEFT JOINs.
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - name: workflow
          in: query
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: Workflow detail payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowDetailResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"

  /api/v1/customer-profitability:
    get:
      operationId: GetCustomerProfitability
      summary: Per-customer cost rollup with prior-period delta
      description: >
        B2B "is this customer profitable?" rollup. Sorted by current cost
        descending. Carries waste signals (retry %, test %) per customer.
        `unattributed_cost_usd` reflects spend with no customer_id (computed
        against the org grand total, not the truncated row sum).
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Customers ordered by current-window cost descending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerProfitabilityResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"

  /api/v1/waste-inbox:
    get:
      operationId: GetWasteInbox
      summary: Deterministic-rule findings of wasted spend (Overview)
      description: >
        Three rules — retry burners, model misuse, high-error workflows —
        run independently and merged into one ranked list. Each item
        carries an upper-bound `potential_savings_usd`. The headline
        `total_savings_usd` is also an upper bound; see schema for
        rationale.
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: Waste findings ordered by potential savings descending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WasteInboxResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"

  /api/v1/cost-confidence:
    get:
      operationId: GetCostConfidence
      summary: cost_source breakdown + unknown-model punch list
      description: >
        How much of the org's reported cost came from server-priced rows
        (trustworthy) vs SDK fallback / unknown-model fallback
        (unverifiable). Plus the top N models the pricing table doesn't
        recognize — actionable for the user to add to
        schemas/pricing/pricing.json.
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: unknown_limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        "200":
          description: cost_source shares + unknown-model punch list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostConfidenceResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"

  /api/v1/sessions:
    get:
      operationId: ListSessions
      summary: Calls grouped by session_id, sorted by recency
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: user_id
          in: query
          required: false
          schema:
            type: string
          description: Scope to a single end-user. Equivalent to a server-side filter.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        "200":
          description: Session summaries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionsResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"

  /api/v1/prompts:
    get:
      operationId: ListPrompts
      summary: Calls aggregated by prompt_version label
      description: >
        Powers the Prompts page. One row per distinct prompt_version (set
        via sdk.trace(name, fn, { promptVersion }) or
        ScopeCallConfig.defaultPromptVersion). Untagged calls collapse to
        the empty-string version bucket.
      parameters:
        - $ref: "#/components/parameters/OrgId"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: feature_name
          in: query
          required: false
          schema:
            type: string
          description: Scope to one feature's prompt versions only.
        - name: environment
          in: query
          required: false
          schema:
            type: string
          description: Scope to one environment.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 200
      responses:
        "200":
          description: Prompt-version aggregates sorted by cost descending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptsResponse"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"

  /api/v1/alerts:
    get:
      operationId: ListAlerts
      summary: List alert events (back-compat alias for /api/v1/alerts/events)
      description: |
        Returns recent alert events for the org. Maintained as a stable alias
        for older dashboard versions; new clients should use
        /api/v1/alerts/events directly. The full alerts surface (rules CRUD,
        events feed, evaluator) lives under /api/v1/alerts/rules and
        /api/v1/alerts/events — see those operations for the current shape.
      parameters:
        - $ref: "#/components/parameters/OrgId"
      responses:
        "200":
          description: Alert event list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertListResponse"
        "401":
          $ref: "#/components/responses/Problem401"
